<div class="mensagem-delete-sucesso">
    <h1>Postagem deletada com sucesso!</h1>
    <p>Sua postagem foi deletada com sucesso e não está mais disponível.</p>
    <a href="/postagem"><button>Voltar à Página Inicial</button></a>
    <a href="/"><button>Ver Posts</button></a>
</div>