<div class="container">
    <h1>Faça sua postagem!</h1>
    <form action="/add" method="POST">
        <p>Título: </p>
        <input type="text" name="titulo" class="textContainer" placeholder="Adicione um título">
        <p>Conteúdo: </p>
        <textarea name="conteudo" class="textContainer" placeholder="O que você está pensando?"></textarea>
        <button type="submit" class="botao-cadastro-post">Cadastrar postagem</button>
        {{!-- <a href="/" ><button id="verPosts" >Ver Posts</button></a> --}}
    </form>
</div>
